<body class="property-form-page">
  <div class="property-form-container">
    <header class="property-form-header">
      <h1><%= @property.new_record? ? "Agregar una propiedad" : "Editar propiedad" %></h1>
    </header>
    
    <div class="property-form-card">
      <div class="property-form-content">
        <%= render "form", property: @property %>
      </div>
    </div>
    
    <div class="property-form-footer">
      <%= link_to "Regresar al catálogo", properties_path %>
    </div>
  </div>
</body>