<body style="background-image: url(/assets/background-neeew.png); background-position: center;
background-repeat: no-repeat; 
background-size: cover;">
  <div style="margin: 25px;">
    <h1>Agregar una propiedad</h1>
    
    <div style="display: flex; justify-content: center;
    background: rgba(255, 255, 255, 0.13);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 1);">
      <div style="margin: 25px; width: 40%;" >
        <%= render "form", property: @property %>
      </div>
    </div>
    
    <br>
    
    <div>
      <%= link_to "Regresar a página principal", properties_path, class: "btn btn-default" %>
    </div>
  </div>
</body>

<%= console %>