<div class="footer_container">
    <div class="footer_logo">
    </div>

    <div class="footer_informacion">
        <div class="footer_detalles">
            <div class="footer_icono">
                <span class="material-symbols-outlined">
                    home
                </span>
            </div>
            <div class="footer_texto"><p>
                Calle Independencia 119, Centro, 37000, León, Guanajuato, México
            </p></div>
        </div>

        <div class="footer_detalles">
            <div class="footer_icono">
                <span class="material-symbols-outlined">
                    mail
                </span>
            </div>
            <div class="footer_texto">contuksainmobiliairia@gmail.com</div>
        </div>

    <div class="footer_detalles">
        <div class="footer_icono">
                <span class="material-symbols-outlined">
                    phone_enabled
                </span>
            </div>
            <div class="footer_texto">
                (52) 477-730-99-39
            </div>
        </div>
    </div>
</div>

<div class="boton_catalogo" style="text-align: center">
    <a href="https://wa.me/524777309939" target="_blank" class="boton">
        Contáctanos
    </a>
</div>