<header class="header" id="main-header">
  <div class="header-content">
    <div class="logo">
      <%= link_to root_path do %>
        <%= image_tag "logo-color-kcalli.png",
            alt: "Kcalli Logo",
            loading: "lazy" %>
      <% end %>
    </div>
    <nav class="nav-menu">
      <a href="#inicio" class="nav-link">Inicio</a>
      <a href="#propiedades" class="nav-link">Propiedades</a>
      <a href="#nosotros" class="nav-link">Nosotros</a>
      <a href="#contacto" class="nav-link">Contacto</a>
    </nav>
  </div>
</header>