<div class="header_container">
    <%= link_to root_path do %>
        <div class="header_logo"></div>
    <% end %>

    <div class="header_catalogo_link">
        <%= link_to "Catálogo", properties_path %>
    </div>

    <div class="contactanos">
        <a href="https://wa.me/524777309939" target="_blank">Contáctanos</a>
    </div>
</div>