<div class="header_container">
    <div class="header_logo">

    </div>

    <div class="header_catalogo_link">
        <a href="">Catálogo</a>
    </div>

    <div class="contactanos">
        <a href="">Contáctanos</a>
    </div>
</div>